body {
   margin: 0;
   padding: 0;
   min-height: 100vh;

   font-family: 'Courier New', Courier, monospace;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: yellow;
}

.container {
   padding: 10px;

   text-align: center;
   color: aliceblue;

   border-radius: 5px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
   background-color: darkcyan;
}

.currency-container {
   padding: 20px;

   display: flex;
   justify-content: space-between;
}

.currency-container select {
   padding: 10px;
}

.currency-container input {
   font-size: 25px;
   text-align: right;
   color: aliceblue;

   border: 0;
   background: transparent;
}

select:focus, 
input:focus {
   outline: none;
}

.exchange-rate {
   font-size: 16px;
   font-weight: 600;
}
